@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')

main
  position: fixed
  min-width: 84%
  height: 90%
  background-color: #d2d2d2
  overflow-y: scroll
  float: right
  bottom: 0
  right: 0

.container
  padding: 2% 5% 2% 5%
  text-align: center

#pav
  text-align: center
  float: left
  width: 92%
  height: 40%
  background-color: #f8f9f9
  color: #ffad01
  margin-left: 4%
  margin-right: 4%
  margin-top: 2px
  margin-bottom: 2%

#all_tour
  text-align: center
  text-decoration: none
  float: left
  width: 92%
  height: 55%
  color: #ffad01
  background-color: #212121
  margin-bottom: 1%
  margin-left: 4%

#all_teams
  text-align: center
  text-decoration: none
  float: left
  width: 92%
  height: 55%
  background-color: #212121
  color: #ffad01
  margin-bottom: 1%
  margin-left: 4%

i
  color: #212121

.i
  color: white

.navbar-fixed-top
  top: 0
  border-width: 0 0 1px

.p
  text-decoration: none
  padding: 0%
  margin: 0%

#table 
  height: 350px
  width: 100%
  text-align: center
  overflow: scroll

#out
  width: 100%
  height: 90px
  font-size: 30px
  background-color: #C6C6C6
  color: black
  text-align: center
  font-weight: bold
  
#name
  text-align: center
  font-size: 60px
  
#button
  margin-top: 20px
  font-size: 30px
.select
  background-color: #C6C6C6
.hoverclass
  font-size: 150%
  color: orange

.prevent
  #add
    pointer-events: none
    cursor: not-allowed
    color: #D2D2D2


#out1
  font-size: 200%
  width: 100%
  font-weight: bold
tr 
  font-weight: 600

.active
  color: red
  font-weight: bold

.li
  text-decoration: none!important
  list-style: none

.label
  font-size: 80%


