<main id="page-content-wrapper" role="main">
    <div class="container">
        <form class="" #tournamentForm="ngForm" method="post" novalidate>
        <div id="name">
            <label for="teams" class="label">Name your team!</label><br>
            <input placeholder="            Team name" [(ngModel)]="team.name" name="team_name" required>
        </div>
        <label  class="label">Select tournament!</label><br>
        <div *ngFor="let tournament of tournaments ">
            <p>{{tournament.name}} <button (click)="loginti(tournament)">select</button></p>
        </div>

        <div id="out">
            Your Current team:
        </div>
        <div id="out1">
        </div>
        <br>
        <div id="table">
            <table class="table" id="preventas">
                <tr>
                    <th>Player name</th>
                    <th>Player surname</th>
                    <th>Player Team</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr *ngFor="let player of players ">
                    <td>{{player.name}}</td>
                    <td>{{player.surname}}</td>
                    <td>{{player.real_team}}</td>
                    <td>
                        <button md-button id="add" class="select" (click)="addPlayer(player)" (click)="happen()">Add
                        </button>
                    </td>
                    <td>
                        <button md-button class="select" (click)="removePlayer(player)">Remove</button>
                    </td>
                </tr>
            </table>
        </div>
            <div class="example-wrapper">
                <button id="button" *ngIf="!opened" (click)="open()">Create Team</button>
                <kendo-dialog title="Please confirm" *ngIf="opened" (close)="close('cancel')">
                    <p style="margin: 30px; text-align: center;">Create team <b>{{team.name}}</b>?<br>After pressing this button no future changes will be allowed.</p>
                    <kendo-dialog-actions>
                        <button kendoButton (click)="close('no')">No</button>
                        <button kendoButton (click)="sendTeam()" primary="true">create</button>
                    </kendo-dialog-actions>
                </kendo-dialog>
            </div>
        </form>
    </div>
</main>
