<div id="main">
    <h1>Tournament info</h1>
    <md-tab-group>

        <md-tab  id="tab" label="Main info">
            <p class="infotext paddingtop">Name: <a>{{data.name}}</a></p>
            <p class="infotext">Master: <a class="up">{{data._tournament_master.name}}
                {{data._tournament_master.surname}}</a></p>
            <p class="infotext">Current players: <a>{{this.data._users.length}} / {{data.max_players}}</a></p>
            <p class="infotext">Max teams allowed: <a>{{data.max_teams}}</a></p>
            <p class="infotext">Budget: <a>{{data.budget}}</a></p>
            <div *ngIf="data._users.length == data.max_players">
                <p class="infotext paddingtop">Status: <a style="color:red">Current tournament is full</a></p>
            </div>
            <p class="infotext underline text-center">Tournament starts: <a>{{data.start| date: 'yyyy-MM-dd'}}</a></p>
            <p class="infotext underline text-center">Tournament ends: <a>{{data.end| date: 'yyyy-MM-dd'}}</a></p>

        </md-tab>

        <md-tab label="Tournament players list">
            <div id="tabas2">
                <app-tournament-user-component [is_allowed]="is_allowed"
                                               [users]="users"></app-tournament-user-component>
            </div>
        </md-tab>

        <md-tab label="Tournament teams list">
            <div id="tab3">
                <app-tournament-team-component [teams]="teams"></app-tournament-team-component>
            </div>
        </md-tab>

    </md-tab-group>

    <div class="example-wrapper" *ngIf="check && this.data._users.length < data.max_players ">
        <button class="btn margintop" *ngIf="!opened" id="join" (click)="open()">join</button>
        <kendo-dialog title="Please confirm" *ngIf="opened" (close)="close('cancel')">
            <p style="margin: 30px; text-align: center;">Join tournament <b>{{data.name}}</b>?</p>
            <kendo-dialog-actions>
                <button kendoButton (click)="close('no')">Cancel</button>
                <button kendoButton (click)="join()" primary="true">Join</button>
            </kendo-dialog-actions>
        </kendo-dialog>
    </div>

</div>
