<div id="main"><h1>Tournament info</h1>
    <md-tab-group>
        <md-tab id="tab" label="Main info">
            <p class="infotext paddingtop">Name: <a>{{data.name}}</a></p>
            <p class="infotext">Master: <a class = "up">{{data._tournament_master.name}} {{data._tournament_master.surname}}</a></p>
            <p class="infotext">Max players allowed: <a>{{data.max_players}}</a></p>
            <p class="infotext">Max teams allowed: <a>{{data.max_teams}}</a></p>
            <p class="infotext">Budget: <a>{{data.budget}}</a></p>
            <p class="infotext underline text-center">Tournament starts: <a>{{data.start| date: 'yyyy-MM-dd'}}</a></p>
            <p class="infotext underline text-center">Tournament ends: <a>{{data.end| date: 'yyyy-MM-dd'}}</a></p>
        </md-tab>
        <md-tab  label="Tournament players list">
            <div id="tabas2">
                <app-tournament-userlist-component [is_allowed]="is_allowed"
                                                   [users]="users"></app-tournament-userlist-component>
            </div>
        </md-tab>
    </md-tab-group>
    <button class="btn btn-primary margintop"  id="join" *ngIf="check" (click)="join()">join</button>
</div>