<p>
    <b>Overall Teams</b>
</p>

<kendo-grid
    [data]="gridView"
    [pageSize]="pageSize"
    [skip]="skip"
    [pageable]="true"
    (pageChange)="pageChange($event)"
>
    <kendo-grid-column field="name" title="Name">
    </kendo-grid-column>
    <kendo-grid-column field="_team_master.name" title="Team master">
    </kendo-grid-column>
    <kendo-grid-column field="_players" title="Tournaments">
    </kendo-grid-column>
    <ng-template kendoGridDetailTemplate let-dataItem
                 [kendoGridDetailTemplateShowIf]="showOnlyBeveragesDetails">
        <div *ngIf="dataItem._players">
            <header>Players</header>
            <ul *ngFor="let player of dataItem._players">
                <li>{{player.name}}</li>
            </ul>
        </div>
    </ng-template>
</kendo-grid>