<div class="body">
  <div id="navbar-wrapper">
    <header>
      <p routerLink="/userprofile" class="logo text-left">Sportfasy</p>
    </header>
  </div>
  <div id="wrapper">
    <div id="sidebar-wrapper" >
      <aside id="sidebar">
        <ul id="sidemenu" class="sidebar-nav">
          <li>
            <a routerLink="/userprofile">
              <span class="sidebar-icon"><i class="fa fa-newspaper-o"></i></span>
              <span  class="sidebar-title"><b>PROFILE</b></span>
            </a>
            <div class="profile">
              <p class="p"><b>User 123</b></p>
              <p class="p">Budget: 200$</p>
              <p class="p">W: 0 L: 0</p>
              <a routerLink="/logout">
                <span><i class="fa fa-sign-out i" aria-hidden="true"></i></span>
                <span class="i">LogOut</span>
              </a>
            </div>
          </li>
          <li>
            <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse">
              <span class="sidebar-icon"><i class="fa fa-users"></i></span>
              <span class="sidebar-title"><b>TOURNAMENT</b></span>
              <b class="caret"></b>
            </a>
          </li>

          <li>
            <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse" routerLink="/createtournment">
              <span class="sidebar-icon"><i class="fa fa-pencil-square-o i"></i></span>
              <span class="sidebar-title2">Create New</span>
              <b class="caret"></b>
            </a>
          </li>
          <li>
            <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse" routerLink="/jointournment">
              <span class="sidebar-icon"><i class="fa fa-user-plus i"></i></span>
              <span class="sidebar-title2">Join</span>
              <b class="caret"></b>
            </a>
          </li>

          <li>
            <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse">
              <span class="sidebar-icon"><i class="fa fa-dashboard"></i></span>
              <span class="sidebar-title"><b>MY TEAM</b></span>
              <b class="caret"></b>
            </a>
          </li>

          <li>
            <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse" routerLink="/creatteam">
              <span class="sidebar-icon"><i class="fa fa-plus i"></i></span>
              <span class="sidebar-title2">Create New</span>
              <b class="caret"></b>
            </a>
          </li>
          <li>
            <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse" routerLink="/listteam">
              <span class="sidebar-icon"><i class="fa fa-bars i"></i></span>
              <span class="sidebar-title2">View List</span>
              <b class="caret"></b>
            </a>
          </li>
        </ul>
      </aside>
    </div>
    <main id="page-content-wrapper" role="main">
      <div id="pav">
        <br>
        <input class="btn button" type="submit" (click) ="getUsers()" value="SIGN UP">
        <br>
      </div>
      <div id="all_tour">
        <p>ALL TOURNAMENTS</p>
        <ul>
          <li *ngFor="let item of dataHolder; let i = index">
            {{i}} {{item}}</li><br>
        </ul>
      </div>
      <div id="all_teams">
        <p>ALL TEAMS</p>
        <ul>
          <a>List</a><br>
          <a>List</a><br>
          <a>List</a><br>
          <a>List</a><br>
          <a>List</a><br>
          <a>List</a><br>
        </ul>
      </div>
    </main>
  </div>
</div>
