<div>
    You do not participate in any tournament
</div>
<br>
<div>
    <button md-button md-dialog-close>
    <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse" routerLink="/createtournment">
        <span class="sidebar-icon"><i class="fa fa-pencil-square-o i"></i></span>
        <span class="sidebar-title2">Create New</span>
        <b class="caret"></b>
    </a>
    </button>
</div>
<br>
<div>
    <button md-button md-dialog-close>
        <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse" routerLink="/jointournment">
        <span class="sidebar-icon"><i class="fa fa-user-plus i"></i></span>
        <span class="sidebar-title2">Join</span>
        <b class="caret"></b>
    </a>
    </button>
</div>