<div id="mainsidebar">
    <div >
        <ul id="sidemenu" class="sidebar-nav">
            <li>
                <a class="icon" routerLink="/userprofile">
                    <span class="sidebar-icon"><i class="fa fa-newspaper-o"></i></span>
                    <span class="sidebar-title"><b>DASHBOARD</b></span>
                </a>
                <div class="profile prof">
                    <p class="p"><b>Hello, </b>{{name}}</p>
                    <p class="p"><b>Points:</b> 200</p>
                    <p class="p"><b>W:</b> 0 <b>L:</b> 0</p>
                    <a (click)="logOut()">
                        <span><i class="fa fa-sign-out i" aria-hidden="true"></i></span>
                        <span class="i">LogOut</span>
                    </a>
                </div>
            </li>
            <li>
                <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse">
                    <span class="sidebar-icon"><i class="fa fa-users"></i></span>
                    <span class="sidebar-title"><b>TOURNAMENT</b></span>
                    <b class="caret"></b>
                </a>
            </li>

            <li>
                <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse"
                   routerLink="/createtournment">
                    <span class="sidebar-icon"><i class="fa fa-pencil-square-o i"></i></span>
                    <span class="sidebar-title2">Create New</span>
                    <b class="caret"></b>
                </a>
            </li>
            <li>
                <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse"
                   routerLink="/listtournment">
                    <span class="sidebar-icon"><i class="fa fa-bars i"></i></span>
                    <span class="sidebar-title2">My tournament list</span>
                    <b class="caret"></b>
                </a>
                <p></p>
            </li>


            <li>
                <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse">
                    <span class="sidebar-icon"><i class="fa fa-dashboard"></i></span>
                    <span class="sidebar-title"><b>TEAM</b></span>
                    <b class="caret"></b>
                </a>
            </li>

            <li>
                <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse"
                   routerLink="/creatteam">
                    <span class="sidebar-icon"><i class="fa fa-plus i"></i></span>
                    <span class="sidebar-title2">Create New</span>
                    <b class="caret"></b>
                </a>
            </li>
            <li>
                <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse"
                   routerLink="/listteam">
                    <span class="sidebar-icon"><i class="fa fa-bars i"></i></span>
                    <span class="sidebar-title2">View List</span>
                    <b class="caret"></b>
                </a>
                <p></p>
            </li>
        </ul>

    </div>
</div>







<!--<ul id="sidemenu" class="sidebar-nav">-->
    <!--<li>-->
        <!--<a class="icon" routerLink="/userprofile">-->
            <!--<span class="sidebar-icon"><i class="fa fa-newspaper-o"></i></span>-->
            <!--<span class="sidebar-title"><b>DASHBOARD</b></span>-->
        <!--</a>-->
        <!--<div class="profile prof">-->
            <!--<p class="p"><b>Hello, </b>{{name}}</p>-->
            <!--<p class="p"><b>Points:</b> 200</p>-->
            <!--<p class="p"><b>W:</b> 0 <b>L:</b> 0</p>-->
            <!--<a (click)="logOut()">-->
                <!--<span><i class="fa fa-sign-out i" aria-hidden="true"></i></span>-->
                <!--<span class="i">LogOut</span>-->
            <!--</a>-->
        <!--</div>-->
    <!--</li>-->
    <!--<li>-->
        <!--<a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse">-->
            <!--<span class="sidebar-icon"><i class="fa fa-users"></i></span>-->
            <!--<span class="sidebar-title"><b>TOURNAMENT</b></span>-->
            <!--<b class="caret"></b>-->
        <!--</a>-->
    <!--</li>-->

    <!--<li>-->
        <!--<a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse"-->
           <!--routerLink="/createtournment">-->
            <!--<span class="sidebar-icon"><i class="fa fa-pencil-square-o i"></i></span>-->
            <!--<span class="sidebar-title2">Create New</span>-->
            <!--<b class="caret"></b>-->
        <!--</a>-->
    <!--</li>-->
    <!--<li>-->
        <!--<a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse"-->
           <!--routerLink="/listtournment">-->
            <!--<span class="sidebar-icon"><i class="fa fa-bars i"></i></span>-->
            <!--<span class="sidebar-title2">My tournament list</span>-->
            <!--<b class="caret"></b>-->
        <!--</a>-->
        <!--<p></p>-->
    <!--</li>-->


    <!--<li>-->
        <!--<a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse">-->
            <!--<span class="sidebar-icon"><i class="fa fa-dashboard"></i></span>-->
            <!--<span class="sidebar-title"><b>TEAM</b></span>-->
            <!--<b class="caret"></b>-->
        <!--</a>-->
    <!--</li>-->

    <!--<li>-->
        <!--<a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse"-->
           <!--routerLink="/creatteam">-->
            <!--<span class="sidebar-icon"><i class="fa fa-plus i"></i></span>-->
            <!--<span class="sidebar-title2">Create New</span>-->
            <!--<b class="caret"></b>-->
        <!--</a>-->
    <!--</li>-->
    <!--<li>-->
        <!--<a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse"-->
           <!--routerLink="/listteam">-->
            <!--<span class="sidebar-icon"><i class="fa fa-bars i"></i></span>-->
            <!--<span class="sidebar-title2">View List</span>-->
            <!--<b class="caret"></b>-->
        <!--</a>-->
        <!--<p></p>-->
    <!--</li>-->
<!--</ul>-->














    <!--<div class="row" >-->
        <!--<div id="sidebar-wrapper">-->
            <!--<aside id="sidebar">-->
         <!---->
            <!--</aside>-->
        <!--</div>-->

    <!--</div>-->
