<div *ngFor="let user of users">
    <div id="userContent" style="display: none;">
    </div>
    <button style="display: none;" id="contentas1" class="text-right" type="button" class="btn btn-danger "
            (click)="conceal()"><i> close</i></button>
    <br/>
    <button class="text-right" type="button" class="btn " (click)="show(user)"><i>View info</i></button>
    {{user.name}}
    <div class="example-wrapper">
    <ng-template #dialogActions>
        <button kendoButton (click)="close()">No</button>
        <button kendoButton (click)="custom()" [icon]="loadingIcon">Yes</button>
    </ng-template>
    <span  (click)="showConfirmation(user, dialogActions)"><i *ngIf=is_allowed class="fa fa-close"></i></span>
    </div>
    <div kendoDialogContainer></div>
    <div id='opener'>
    </div>
</div>
<!--(click)="delete(user)"-->