<div *ngFor="let user of users">
    <div id="userContent" style="display: none;">
    </div>
    <button style="display: none;" id="contentas1" class="text-right" type="button" class="btn btn-danger "
            (click)="conceal()"><i> close</i></button>
    <br/>
    <button class="text-right" type="button" class="btn " (click)="show(user)"><i>View info</i></button>
    {{user.name}}
    <span (click)="delete(user)"><i *ngIf=is_allowed class="fa fa-close"></i></span>
    <div class="example-wrapper">
        <button (click)="showConfirmation(user)" class="k-button k-button-icontext k-primary">
            <span class="k-icon k-i-delete"></span> Delete user
        </button>
    </div>
    <div kendoDialogContainer></div>
    <div id='opener'>
    </div>
</div>
