.show {
  display: block
}

.hide {
  display: none}

#contentas1 {
  margin: 10px auto 0 auto;
  text-align: center;
}
#userContent {
  border: 1px solid orange;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  align-content: center;
}
button {
  color: orange;
  background: #212121;
}
