

<div class="container">
    <h1>{{data._team.name}}</h1>
    <h5>info</h5>
    <h5 class="bold">Number of players: {{data._team._players.length}}/{{data._tournament.max_players}}</h5>
    <h5 class="bold">Position: XXX</h5>
    <h5 class="bold">Points: XXX</h5>
    <app-grid-team-players>
        [data]="data"
    </app-grid-team-players>

    <!--<app-grid-team-players-sell> [players]="players"</app-grid-team-players-sell>-->
    <tr *ngFor="let player of players" [ngClass]="{'active': player.active}">
        <td> {{player.name}}</td>
        <td>{{player.surname}}</td>
        <td>{{player.real_team}}</td>
        <td>{{player.price}}</td>
        <td>
</div>

