
body
  background-color: #dde7e9
  -webkit-font-smoothing: antialiased
  font: normal 14px Roboto,arial,sans-serif

.container

  padding: 25px
  position: fixed
  width: 104.2%
  height: 100%
  background-color: #dde7e9
  margin-bottom: 50px
  overflow-x: hidden

.form-login
  position: fixed
  width: 200px
  left: 50%
  margin-left: -100px

  background-color: #212121
  padding-top: 10px
  padding-bottom: 10px
  padding-left: 10px
  padding-right: 10px
  border-radius: 15px
  border-color: #d2d2d2
  border-width: 5px
  box-shadow: 0 1px 0 #cfcfcf

h4
  border: 0 solid #dde7e9
  color: #ffad01
  border-bottom-width: 1px
  padding-bottom: 10px
  text-align: center

.form-control
  border-radius: 10px

.wrapper
  text-align: center

.button
  background-color: #ff9900
  opacity: 1
  border: 0px
  color: #212121
  margin-top: 5%

.label
  color: white

.row
  padding-left: 40%

.error
  color: #ff9900
  font-size: 80%

a
  color: #ffad01

input
  margin: 0