<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<div>
  <div class="container">
    <div class="row">
      <div class="col-md-offset-5 col-md-3">
        <div class="form-login">
          <h4>Join us!</h4>
          <form action="http://localhost:3000/api/users" method="post">

            <label class="label" for="name">First Name:</label><br>
            <input class="form-control input-sm chat-input" type="text" required minlength="1" id="name" name="name"><br>

            <label class="label" for="surname">Last Name:</label><br>
            <input class="form-control input-sm chat-input" type="text" required minlength="4" id="surname" name="surname"><br>

            <label class="label" for="password">Password:</label><br>
            <input class="form-control input-sm chat-input" type="password" required minlength="6" id="password" name="password"><br>

            <label class="label" for="c_password">Confirm Password:</label><br>
            <input class="form-control input-sm chat-input" type="password" required minlength="6" id="c_password" name="c_password"><br>

            <label class="label" for="email">Email:</label><br>
            <input class="form-control input-sm chat-input" type="email" required minlength="4" id="email" name="email">
            <button class="btn button" type="submit" value="Submit">Submit</button>
            <p>Already have an account? <a routerLink="/login">Login</a> </p>
          </form>

        </div>
      </div>
    </div>
  </div>

</div>
