<div>
    You do not participate in any tournament. Select game type:
</div>
<br>
<div>
    <button md-button md-dialog-close>
    <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse" routerLink="/createtournment">
        <span class="sidebar-title2">F-1</span>
        <b class="caret"></b>
    </a>
    </button>
</div>
<br>
<div>
    <button md-button md-dialog-close>
        <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse" routerLink="/createtournment">
            <span class="sidebar-title2">Basketball</span>
            <b class="caret"></b>
        </a>
    </button>
</div>
<br>
<div>
    <button md-button md-dialog-close>
        <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse" routerLink="/createtournment">
        <span class="sidebar-title2">Football</span>
        <b class="caret"></b>
    </a>
    </button>
</div>