<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
  <h1>
    Here will be Sportfasy!!
  </h1>
  <a routerLink="/logout">Log Out</a>
  <router-outlet></router-outlet>

  <a routerLink="/login">Log In</a>
  <router-outlet></router-outlet>

  <a routerLink="/singup">Sing Up</a>
  <router-outlet></router-outlet>

  <a routerLink="/createtournment">Create tournment</a>
  <router-outlet></router-outlet>

  <a routerLink="/jointournment">Join tournment</a>
  <router-outlet></router-outlet>

  <a routerLink="/listteam">Team List</a>
  <router-outlet></router-outlet>

  <a routerLink="/creatteam">Creat Team</a>
  <router-outlet></router-outlet>

  <a routerLink="/userprofile">User Profile</a>
  <router-outlet></router-outlet>
</div>
