#main
  padding: 20px 10px
  background-color: #dde7e9
  height: 100%
  overflow-x: hidden


#sidebar1 
  width: 240px
  padding:  0px
  float: left
  display: flex

#wrapper
  margin: 0 auto

.top-component
  padding: 0

.main_container
  height: 100vh
  background-color: #dde7e9





