<div *ngIf="(router.url != '/login' && router.url !='/' && router.url !='/singup')">
    <app-main-header></app-main-header>
</div>
<div class="main_container">


    <div class="row">

        <div class="col-2 top-component"  *ngIf="(router.url != '/login' && router.url !='/' && router.url !='/singup' && router.url !='/dashboard' && router.url !='/lobby')">
            <app-navbar></app-navbar>
        </div>
        <div class="col-10 top-component">
            <router-outlet></router-outlet>
        </div>
    </div>

</div>
