#main
  padding: 20px 10px
  background-color: #FFEDC9
  height: 100%
  overflow-y: scroll


#sidebar1 
  width: 240px
  padding:  0px
  float: left
  display: flex

#wrapper
  margin: 0 auto

.top-component
  padding: 0

.top-component-content
  background-color: #E04006
  height: 100%

body
  height: 100vh


.main_container
  height: 100vh
  background-color: #FFEDC9


