#main
  padding: 20px 10px
  background-color: #dde7e9
  height: 100%
  width: 100%
  overflow: hidden


#sidebar1 
  width: 240px
  padding:  0px
  float: left
  display: flex

#wrapper
  margin: 0 auto

.top-component
  padding: 0

.main_container
  //height: 94vh
  min-width: 203vh
  height: 100%
  background-color: #dde7e9
  overflow: hidden





