<app-main-header></app-main-header>
<div class="main_container">


<!--<div class="row">-->

    <!--<div class=" top-component">-->
        <!--<app-navbar></app-navbar>-->
    <!--</div>-->
    <!--<div class=" top-component">-->
       <!--<router-outlet></router-outlet>-->

    <!--<div id="sidebar1" >-->
            <!--<h4>Transport</h4>-->
            <!--<p>-->
                <!--Miasto posiada bezpośrednie połączenie kolejowe z Kownem, Szawlami, Kłajpedą, Kiejdanami, Turmontem, Mariampolem, Szostakowem, Święcianami, Oranami, Trokami i in. Ważniejsze połączenia międzynarodowe to Moskwa, Kaliningrad, Mińsk i Mohylów.-->
            <!--</p>-->

    <!--</div>-->

    <app-navbar></app-navbar>
        <div id="main">
            <router-outlet></router-outlet>
        <!--<div class="bline">-->
            <!--<h3>Wilno</h3>-->
            <!--<h3>Widok z wieży zamkowej</h3>-->
            <!--<p>-->
                <!--<img  src="wilno2.jpg" alt>Wilno (lit. Vilnius wymowa i, biał. Вільня, ros. Вильнюс, Вильна, Вильно, łot. Viļņa, niem. Wilna, jid. ווילנע = Wilne, hebr. וילנה = Wilna, łac. Vilna) – stolica Litwy, stolica Wielkiego Księstwa Litewskiego, po unii polsko-litewskiej w 1569 roku miało charakter drugiej siedziby władców Rzeczypospolitej Obojga Narodów, od 1920 do 1922 jako stolica Litwy Środkowej, w latach 1922–1939 w granicach II RP (jako stolica województwa wileńskiego), na Pojezierzu Wileńskim, nad Wilią, u ujścia Wilejki.-->
                <!--Liczba ludności miasta w 2010 r. wyniosła 560 200 mieszkańców, wraz z aglomeracją ok. 1 mln. Największe pod względem powierzchni miasto w krajach bałtyckich, duży ośrodek gospodarczy, finansowy, przemysłowy oraz węzeł komunikacyjny (kolejowy i drogowy, port lotniczy, ośrodek kulturalny i naukowy; 8 uniwersytetów, w tym Uniwersytet Wileński (1579); cenny zespół obiektów zabytkowych wpisany na listę światowego dziedzictwa UNESCO w 1994.-->
            <!--</p>-->
        <!--</div>-->
    </div>
</div>

<!--</div>-->