#main
  input
    width: 50%

#out
  width: 60%
  min-height: 30%
  font-size: 120%
  text-align: left
  background-color: #212121
  margin-top: 2%
  margin-bottom: 2%
  padding-top: 2%
  padding-bottom: 2%

input
  margin: 0
  margin-left: 10%
  text-align: left

.alert
  width: 50%
  margin: 0
  margin-left: 10%
  padding: 0
  font-size: 100%
  text-align: left
  background-color: #212121
  border: none
  color: red


.buttonCreate
  margin-left: 10%
  margin-top: 4%
  background-color: #ff9900
  color: white


form
  border: 1px solid #ff9900
  padding: auto
  padding-top: 6%
  padding-bottom: 1.5%
  margin: auto
  width: 70%
  background-color: #212121
  color: white

.form_name
  border-style: solid
  border-color: #ff9900
  border-width: 1px 0px 1px 1px
  margin-left: 10%
  padding: 1.5%
  text-align: left
  font-size: 140%

.form_name2
  border-style: solid
  border-color: #ff9900
  border-width: 1px 0px 1px 1px
  text-align: left
  padding: 1.5%
  font-size: 100%

.date_input
  margin: 0 auto
  text-align: left
  padding-left: 10%