main
  position: fixed
  min-width: 84%
  height: 90%
  background-color: #d2d2d2
  background-color: white
  overflow-y: scroll
  float: right
  bottom: 0
  right: 0

  .container
    padding: 2% 5% 2% 5%