<div class="body">

  <div id="navbar-wrapper">
    <header>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <p routerLink="/userprofile" class="logo text-left">Sportfasy</p>
    </header>
  </div>
  <div id="wrapper">
    <div id="sidebar-wrapper" >
      <aside id="sidebar">
        <ul id="sidemenu" class="sidebar-nav">
          <li>
            <a routerLink="/userprofile">
              <span class="sidebar-icon"><i class="fa fa-newspaper-o"></i></span>
              <span  class="sidebar-title"><b>PROFILE</b></span>
            </a>
            <div class="profile">
              <p class="p"><b>User 123</b></p>
              <p class="p">Budget: 200$</p>
              <p class="p">W: 0 L: 0</p>
              <a routerLink="/logout">
                <span><i class="fa fa-sign-out i" aria-hidden="true"></i></span>
                <span class="i">LogOut</span>
              </a>
            </div>
          </li>
          <li>
            <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse">
              <span class="sidebar-icon"><i class="fa fa-users"></i></span>
              <span class="sidebar-title"><b>TOURNAMENT</b></span>
              <b class="caret"></b>
            </a>
          </li>

          <li>
            <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse" routerLink="/createtournment">
              <span class="sidebar-icon"><i class="fa fa-pencil-square-o i"></i></span>
              <span class="sidebar-title2">Create New</span>
              <b class="caret"></b>
            </a>
          </li>
          <li>
            <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse" routerLink="/jointournment">
              <span class="sidebar-icon"><i class="fa fa-user-plus i"></i></span>
              <span class="sidebar-title2">Join</span>
              <b class="caret"></b>
            </a>
          </li>

          <li>
            <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse">
              <span class="sidebar-icon"><i class="fa fa-dashboard"></i></span>
              <span class="sidebar-title"><b>MY TEAM</b></span>
              <b class="caret"></b>
            </a>
          </li>

          <li>
            <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse" routerLink="/creatteam">
              <span class="sidebar-icon"><i class="fa fa-plus i"></i></span>
              <span class="sidebar-title2">Create New</span>
              <b class="caret"></b>
            </a>
          </li>
          <li>
            <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse" routerLink="/listteam">
              <span class="sidebar-icon"><i class="fa fa-bars i"></i></span>
              <span class="sidebar-title2">View List</span>
              <b class="caret"></b>
            </a>
          </li>
        </ul>
      </aside>
    </div>
    <main id="page-content-wrapper" role="main">

        <div class="container">

            <form class="form-signin" #loginForm="ngForm">
                <h2 class="form-signin-heading">Create your tournament!</h2>
                <label for="tName" class="label">Tournament name: </label>
                <input type="text" id="tName" class="form-control" placeholder="Tournament name" required autofocus>
                <br>
                Tournament starts: <material-datepicker placeholder="start date" [rangeEnd]='maxDate' [rangeStart]='minDate' [(date)]="yourModelDate"></material-datepicker>
                Tournament ends: <material-datepicker placeholder="end date" [rangeEnd]='maxDate' [rangeStart]='minDate' [(date)]="yourModelDate1"></material-datepicker>
                <br>
                <label for="maxTeams" class="label">Maximum teams:</label>
                <input type="text" id="maxTeams" class="form-control" placeholder="Maximum teams" required>
                <br>
                <label for="maxPlayers" class="label">Maximum Players in team: </label>
                <input type="text" id="maxPlayers" class="form-control" placeholder="Maximum players in team" required>
                <br>
                <label for="maxBudget" class="label">Maximum budget: </label>
                <input type="text" id="maxBudget" class="form-control" placeholder="Maximum budget" required>
                <br>
                <button type="submit" class="btn btn-primary button " >Create Tournament</button>
                <button  type="submit"  [disabled]="!loginForm.form.valid">Submit</button>
            </form>
        </div> <!-- /container -->
    </main>
  </div>
</div>



