<div class="body fade">
    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Welcome to Sportfasy!</h1>
                <p class="lead">RealTime Fantasy Sports Game</p>
                <br>
                <button class="btn button" routerLink="/login">Log in!</button>
                <button class="btn button" routerLink="/singup">Join now!</button>
            </div>
        </div>

    </div>
</div>

