<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<div>
  <div class="container">
    <div class="row">
      <div class="col-md-offset-5 col-md-3">
        <div class="form-login">
          <h4>Welcome to Sportfasy!</h4>
          <form method="post" novalidate="">


            <label class="label" for="email">Email:</label><br>
            <input class="form-control input-sm chat-input"  name="email" [(ngModel)]="user.email"
                   value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Mail';}"><a
            href="#"></a>


            <label class="label" for="password">Password:</label><br>
            <input class="form-control input-sm chat-input" type="password" required minlength="6" name="password"
                   [(ngModel)]="user.password" value="Password" onfocus="this.value = '';"
                   onblur="if (this.value == '') {this.value = 'Password';}"><a href="#"></a><br>

            <input class="btn button" type="submit" (click)="loginUser()" value="Log in">

            <p>Not a member yet? <a class="a" routerLink="/singup"><br>Join now!</a></p>
          </form>


        </div>
      </div>
    </div>
  </div>

</div>
