
<div *ngFor="let user of tournament">
    <div  id="content" style="display: none;">
    </div>
    <button style="display: none;" id="content1" class="text-right" type="button" class="btn btn-danger " (click)="conceal()"><i> close</i></button>
<br/>
    {{user.name}} <button class="text-right" type="button" class="btn btn-primary " (click)="show(user)"><i> View</i></button>

    <span (click)="delete(user)" ><i class="fa fa-close"></i></span>


    <div id ='opener' >

    </div>


</div>
