@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')

.header
  margin: 0
  display: block
  background: #212121
  overflow-y: hidden
  overflow-x: hidden
  .logo
    padding-left: 2%
    font-size: 230%
    color: white
    text-decoration: none
    margin-bottom: 0
.orange
  color: #ff9900
.i
  color: white
#first
  float: left
#second
  margin: auto
  padding: 0
  padding-top: 0.7%
  padding-right: 5%
  float: right
  a
    font-size: 120%
.log
      color: white




